<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>4esport Admin</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/index.css" type="text/css">
        <script>
            
            function validate(element) {
                var rowId = event.target.parentNode.parentNode.id;  
                var data =  document.getElementById(rowId).querySelectorAll(".row-data");  
                var summoner = data[0].innerHTML
                data = {summoner}
                const options = {
                    method: 'post',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify(data)
                }
                fetch('/validate',options)
                document.getElementById(rowId).remove()
            }
            function delete_summoner(element) {
                var rowId = event.target.parentNode.parentNode.id;
                var data =  document.getElementById(rowId).querySelectorAll(".row-data");  
                var summoner = data[0].innerHTML
                data = {summoner}
                const options = {
                    method: 'post',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify(data)
                }
                fetch('/delete',options)
                
                document.getElementById(rowId).remove()
            }
        </script>
        
    </head>
    <body>
        <header class="main_header">
            
            <span class="container_header">
                <nav class="main-nav">
                    <ul class="main-nav-list">
                        <li>
                            <a href="/index">Classement par Poste</a>
                        </li>
                        <li>
                            <a href="/404">Graphique Elo</a>
                        </li>
                        <li>
                            <a href="/404">Pari eSportif</a>
                        </li>
                    </ul>   
                </nav>
            </span>
        </header>
        <span class="logo"><img id="logo_image" src="https://github.com/Robebou/EfreiElo/blob/main/ressource/image/4eSportHD.gif?raw=true" alt="4eSLogo"/></span>
        <br><br>
            <div id="Container_Tab"> 
                <table class = "Tab_Joueur">
                    <thead>
                        <tr>
                            <th> Nom d'invocateur </th>
                            <th> Validation </th>
                        </tr>
                    </thead>
                    <tfoot>
                    </tfoot>
                    <tbody>
                        <% compteur = 0%>
                        <% info_players.forEach(element => { %>
                            <tr id = "<%= compteur%>">
                                <td><a  href="https://euw.op.gg/summoner/userName=<%= element.nom_invocateur%>" target="_blank" class = "row-data"><%=element.nom_invocateur%></a></td>
                                <td><button onclick="validate(this)">Valider</button> 
                                    <button onclick="delete_summoner(this)">Supprimer</button></td>
                            </tr>
                            <% compteur += 1%>
                        <%})%>
                    </tbody>
                    
                </table>
                
            </div>    
        <footer>         
        </footer>

    </body>
</html>