<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="index.css">
    </head>
    <body>
        <header>
            <span>
                <img src="views/4esLogo.svg" alt="4esLogo"/>
                <button>Bouton 1</button>
                <button>Bouton 2</button>
                <button>Bouton 3</button>
                <button>Bouton 4</button>
            </span>
        </header>
            <div id = "Tab_Joueur"> 
                <table>
                    <tr>
                        <th> Icone </th>
                        <th> Nom d'invocateur </th>
                        <th> Level </th>
                        <th> Elo </th>
                    </tr>
                    <% info_players.forEach(info_players => { %>
                        <tr>
                            <th> <%= info_players.icone%> </th>
                            <th> <%= info_players.nom_invocateur%></th>
                            <th> <%= info_players.lvl%> </th>
                            <th> <%= info_players.Elo%> </th>
                        </tr>
                    <% }); %>   
                </table>
            </div>
        </h2>
        <footer>

        </footer>
        <script src="" async defer></script>
    </body>
</html>