<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Hello World</h1>
        <h2>
            <div class = "tableau"> 
                <table>
                    <% info_players.forEach(info_players => { %>
                        <tr>
                            <th> <%= info_players.nom_invocateur%></th>
                            <th> <%= info_players.lvl%> </th>
                        </tr>
                    <% }); %>
                    
                </table>
            </div>
        </h2>
        <script src="" async defer></script>
    </body>
</html>