* {
	background-color: #131c2e;
	color: white;
}

#logo_image {
	max-width: 50px;
	height: auto;
}

.container_header {
	width: 960px;
	max-width: 100%;
	padding: 20px;
	margin: 0 auto;
}

.container_header .container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.main-nav ul {
	margin: 1em 0 0.5em;
	text-align: center;
}
.main-nav li {
	display: inline;
}
.main-nav a {
	display: inline-block;
	padding: 0.5em 1.5em;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 25px;
	letter-spacing: -0.4px;
	word-spacing: 2px;
	font-weight: 700;
	text-decoration: none;
	font-style: italic;
	font-variant: normal;
	text-transform: none;
}

@media (min-width: 960px) {
	.container_header .container {
		justify-content: space-between;
	}
}

#Container_Tab {
	position: absolute;
	width: 70%;
	top: 20%;
	left: 15%;
	right: 15%;
}
table.Tab_Joueur {
	font-family: Tahoma, Geneva, sans-serif;
	border: 2px solid #000000;
	width: 100%;
	text-align: center;
}
table.Tab_Joueur td,
table.Tab_Joueur th {
	border: 2px solid #aaaaaa;
	padding: 3px 3px;
}
table.Tab_Joueur tbody td {
	font-size: 13px;
	font-weight: bold;
}
table.Tab_Joueur tr:nth-child(even) {
	background: #d0e4f5;
}
table.Tab_Joueur thead {
	background: #232323;
}
table.Tab_Joueur thead th {
	font-size: 15px;
	font-weight: bold;
	color: #ffffff;
}
table.Tab_Joueur tfoot {
	font-weight: bold;
}
table.Tab_Joueur th img {
	height: 10em;
}
