* {
	background-color: #131c2e;
	color: white;
}

#logo_image {
	position: absolute;
	top: 1em;
	left: 2em;
	max-width: 350px;
	height: auto;
}

.container_header {
	width: 960px;
	max-width: 100%;
	padding: 20px;
	margin: 0 auto;
}

.container_header .container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.main-nav ul {
	margin: 1em 0 0.5em;
	text-align: center;
}
.main-nav li {
	display: inline;
}
.main-nav a {
	display: inline-block;
	padding: 0.5em 1.5em;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 25px;
	letter-spacing: -0.4px;
	word-spacing: 2px;
	font-weight: 700;
	text-decoration: none;
	font-style: italic;
	font-variant: normal;
	text-transform: none;
}

@media (min-width: 960px) {
	.container_header .container {
		justify-content: space-between;
	}
}

#Container_Tab {
	position: relative;
	width: 70%;
	top: 14%;
	left: 15%;
	right: 15%;
}

table.Tab_Joueur {
	font-family: Tahoma, Geneva, sans-serif;
	background-color: #202b43;
	padding: 30px 30px 30px 30px;
	border: 2px solid #62148d;
	border-radius: 3%;
	width: 100%;
	text-align: center;
}

.true td {
	background-color: #202d46;
}

.false td {
	background-color: #131c2e;
}

table.Tab_Joueur td,
table.Tab_Joueur th {
	background-color: none;
	border: none;
	padding: 3px 3px;
}

table.Tab_Joueur tbody td {
	font-size: 13px;
	font-weight: normal;
}

table.Tab_Joueur thead {
	background-color: none;
}
table.Tab_Joueur thead th {
	font-size: 15px;
	font-weight: 600;
	color: #ffffff;
	background-color: none;
}
table.Tab_Joueur tfoot {
	background-color: none;
}
table.Tab_Joueur th img {
	height: 10em;
	border-radius: 15%;
}

#icon_summoner {
	height: 5em;
	border-radius: 15%;
}

tr:hover td {
	background-color: #08183b;
}

table.Tab_Joueur td {
	transition: all 0.2s ease-in-out;
}

table.Tab_Joueur td:hover {
	transform: scale(1.1);
}

table.Tab_Joueur thead th {
	transition: all 0.2s ease-in-out;
	cursor: url('../../ressource/image/FuckRobebou.png'), pointer;
}
table.Tab_Joueur thead th:hover {
	transform: scale(1.2);
	font-weight: 900;
	text-decoration: underline;
}
